
        <div class="row row-onlain">
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
            <a class="a-onlain" href="#">
                <div class="col-md-4 col-sm-6 col-onlain">
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td>MU_FC</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td class="time">21-30</td>
                                <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="30px" /></td>
                                <td>MU_FC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
            
        </div>
        
        <div class="row row-article">
            
            <div class="col-sm-6 col-md-4 col-article">
                <a class="a-article" href="#">
                    <div class="thumbnail">
                        <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                        <div class="caption">
                            <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-sm-6 col-md-4 col-article">
                <a class="a-article" href="#">
                    <div class="thumbnail">
                        <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                        <div class="caption">
                            <h3>strong<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-sm-6 col-md-4 col-article">
                <a class="a-article" href="#">
                    <div class="thumbnail">
                        <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                        <div class="caption">
                            <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
