    
   <%= render 'shared/onlain' %> 
   
    <div class="row row-article">
        
        <div class="col-sm-12 col-md-4 col-article">
            <a class="a-article" href="#">
                <div class="thumbnail">
                    <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                    <div class="caption">
                        <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                        <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-12 col-md-4 col-article">
            <a class="a-article" href="#">
                <div class="thumbnail">
                    <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                    <div class="caption">
                        <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                        <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-12 col-md-4 col-article">
            <a class="a-article" href="#">
                <div class="thumbnail">
                    <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                    <div class="caption">
                        <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                        <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    
    <div class="row row-article row-article2">
        
        <div class="col-md-6 col-article col-sm-6">
            <a class="a-article" href="#">
                <div class="thumbnail">
                    <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                    <div class="caption">
                        <span class="create-time time-pos">Статья</span><span class="time-pos"><i class="glyphicon glyphicon-time"></i><i> 21.02.16</i></span> 
                        <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-6 col-article col-sm-6">
            <a class="a-article" href="#">
                <div class="thumbnail">
                    <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                    <div class="caption">
                        <span class="create-time time-pos">Статья</span><span class="time-pos"><i class="glyphicon glyphicon-time"></i><i> 21.02.16</i></span> 
                        <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="row row-article row-article2">
                
                <div class="col-md-12 col-article col-sm-6">
                    <a class="a-article" href="#">
                        <div class="thumbnail">
                            <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                            <div class="caption">
                                <span class="create-time time-pos">Статья</span><span class="time-pos"><i class="glyphicon glyphicon-time"></i><i> 21.02.16</i></span>  
                                <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-12 col-article col-sm-6">
                    <a class="a-article" href="#">
                        <div class="thumbnail">
                            <img src="http://manutd.one/uploads/posts/2016-08/1472210327_585724424.jpg" alt="...">
                            <div class="caption">
                                <span class="create-time time-pos">Статья</span><span class="time-pos"><i class="glyphicon glyphicon-time"></i><i> 21.02.16</i></span> 
                                <h3><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maiores, iure, doloremque, ducimus accusamus sapiente fugiat...</p>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default"> 
                <div class="panel-heading"> 
                    <h3 class="panel-title">Последние новости АПЛ</h3> 
                </div> 
                <div class="panel-body">
                    <div class="tab-pane active">
                        <div class="list-group">
                            
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                             <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                             <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                            <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                            <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                            <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                            <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                            <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                            <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                            <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
                          </a>
                          
                        </div>    
                    </div>
                </div> 
            </div>
        </div>
    </div>
    
    <div class="row row-table hidden-xs">
        <div class="panel panel-default">
          <!-- Default panel contents -->
            <div class="panel-heading">Premier <img src="/images/logo.png"width="80px"> League</div>
          
        
          <!-- Table -->
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Матчей</th>
                        <th>В</th>
                        <th>Н</th>
                        <th>П</th>
                        <th>Заб</th>
                        <th>Про</th>
                        <th></th>
                        <th>Очков</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% @number = 0 %>
                    <% 20.times do %>
                    <tr>
                        <td></td>
                        <td><%= @number += 1 %></td>
                        <td class="team-icon"><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="25px" /></td>
                        <td class="team-name">Манчестер Юнайтед</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td class="team-score">0</td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    
    
        
        
