<div class="row row-books">
    <div class="col-sm-6 books"><a href="#"><img class="img-responsive"  src="images/books/book1.jpg" /></a></div>
    <div class="col-sm-6 books"><a href="#"><img class="img-responsive"  src="images/books/book2.jpg" /></a></div>
    <div class="col-sm-6 books"><a href="#"><img class="img-responsive"  src="images/books/book3.jpg" /></a></div>
    <div class="col-sm-6 books"><a href="#"><img class="img-responsive"  src="images/books/book4.jpg" /></a></div>
</div>