
<div class="comment-block">
    <ul class="media-list">
    <li class="media">
        <div class="media-left">
        <a href="#">
            <img class="media-object" src="..." alt="...">
        </a>
        </div>
        <div class="media-body">
        <h4 class="media-heading">Igor Great</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, expedita.
            <div class="media">
                <div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading">Igor Great</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, expedita.
                
                </div>
            </div>
        </div>
    </li>
    </ul>
</div>