<div class="panel panel-default"> 
    <div class="panel-heading"> 
        <h3 class="panel-title">Последние новости АПЛ</h3> 
    </div> 
    <div class="panel-body">
        <div class="list-group">
            
          <% if @news[4, 8] %>  
            <% @news[4, 8].each do |article| %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><%= truncate(article.title, length: 50) %></h4>
              <p class="list-group-item-text"><%= truncate(article.summary, length: 130) %></p>
               <i class="glyphicon glyphicon-time"></i><i><%= article.created_at.strftime("%m/%d/%Y") %></i> 
            </a>
            <% end %>
          <% end %>
        </div>  
    </div> 
</div>