<div class="panel panel-default"> 
    <div class="panel-heading"> 
        <h3 class="panel-title">Последние новости АПЛ</h3> 
    </div> 
    <div class="panel-body">
        <div class="list-group">
            
          <% if @news[4, 14] %>  
            <% @news[4, 14].each do |article| %>
            <a href="<%= article_path(article) %>" class="list-group-item text-left">
              <h4 class="list-group-item-heading"><%= truncate(article.title, length: 120) %></h4>
               <i class="glyphicon glyphicon-time"></i><i><%= article.created_at.strftime("%m-%d-%Y") %></i> 
            </a>
            <% end %>
          <% end %>
        </div> 
    </div> 
</div>