<div class="panel panel-default"> 
    <div class="panel-heading"> 
        <h3 class="panel-title">Последние новости АПЛ</h3> 
    </div> 
    <div class="panel-body">
        <div class="tab-pane active">
            <div class="list-group">
                
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                 <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                 <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
            </div>    
        </div>
    </div> 
</div>