<div class="panel panel-default row-onlain"> 
    <div class="panel-heading"> 
        <h3 class="panel-title text-left"><i><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="20px" /></i>Моя команда</h3> 
    </div> 
    <div class="panel-body">
        <div class="tab-pane active" style="height: 300px">
            <div><i>Последние матчи</i></div>
            <% 5.times do %>
            <a class="a-onlain" href="#">
                <div class="table">
                    <table class="table">
                        <tr>
                            <td>MU_FC</td>
                            <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="20px" /></td>
                            <td class="time">21-30</td>
                            <td><img src="http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg" width="20px" /></td>
                            <td>MU_FC</td>
                        </tr>
                    </table>
                </div>
            </a>
            <% end %>
            <div class="list-group">
                
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                 <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                 <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, provident nulla repellendus reprehenderit distinctio in.</p>
                <i class="glyphicon glyphicon-time"></i><i> 21.02.16</i> 
              </a>
              
            </div>    
        </div>
    </div> 
</div>