<!--top players-->
    <div class="row">
        <% 4.times do %>
        <div class="col-md-3 col-sm-6 col-xs-6 col-article">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Бомбардиры</div>
              <div class="panel-body panel-body-custom">
                <img src="images/top-players.jpg" class="img-responsive" width="100%"  />
                <div class="number-one">
                    <p class="first">1</p>
                    <p class="footballer-name">Cristiano </br>Ronaldo</p>
                    <p class="boals">3</p>
                </div>
              </div>
            
              <!-- Table -->
              <table class="table">
                <% @place = 1 %>
                  <% 4.times do %>
                  <tr>
                      <td><%= @place += 1 %> Ronaldo</td>
                      <td></td>
                      <td class="team-score text-center">1</td>
                  </tr>
                  <% end %>
              </table>
            </div>
        </div>
        <% end %>
    </div>