<div class="container-fluid leagues-team-container">
        <div class="col-md-6 league-col">
            <a href="#"><i class="sprite sprite-mu"></i></a>
            <a href="#"><i class="sprite sprite-chelsea"></i></a>
            <a href="#"><i class="sprite sprite-liver"></i></a>
            <a href="#"><i class="sprite sprite-arsenal"></i></a>
            <a href="#"><i class="sprite sprite-mc"></i></a>
            <a href="#"><i class="sprite sprite-totenhem"></i></a>
            <a href="#"><i class="sprite sprite-leicester"></i></a>
            <a href="#"><i class="sprite sprite-everton"></i></a>
            <a href="#"><i class="sprite sprite-west_ham"></i></a>
            <a href="#"><i class="sprite sprite-west_brom"></i></a>
        </div>
        <div class="col-md-6 league-col">
            <a href="#"><i class="sprite sprite-sunderland"></i></a>
            <a href="#"><i class="sprite sprite-swansea"></i></a>
            <a href="#"><i class="sprite sprite-crystal"></i></a>
            <a href="#"><i class="sprite sprite-southampton"></i></a>
            <a href="#"><i class="sprite sprite-watford"></i></a>
            <a href="#"><i class="sprite sprite-burnley"></i></a>
            <a href="#"><i class="sprite sprite-hull_city"></i></a>
            <a href="#"><i class="sprite sprite-bournem"></i></a>
            <a href="#"><i class="sprite sprite-midl"></i></a>
            <a href="#"><i class="sprite sprite-stoke_city"></i></a>
        </div>
   </div>
   <div class="container-fluid leagues-submenu-container">
        <h1 class="league-h1">А<span class="hidden-xs">нглийская</span> П<span class="hidden-xs">ремьер</span> Л<span class="hidden-xs">ига</span></h1>
        <a href="#" class="league-col">Стат<span class="hidden-xs">истика</span></a>
        <a href="#" class="league-col">Табл<span class="hidden-xs">ица</span></a>
        <a href="#" class="league-col">Календ<span class="hidden-xs">арь</span></a>
        <a href="#" class="league-col">Основное</a>
   </div>