<div class="container-fluid leagues-team-container">
    <div class="col-md-6 league-col league-col-bundesliga">
        <a href="#"><i class="sprite sprite-Bavaria"></i></a>
        <a href="#"><i class="sprite sprite-Borussia_D"></i></a>
        <a href="#"><i class="sprite sprite-shalke_04"></i></a>
        <a href="#"><i class="sprite sprite-Bayer"></i></a>
        <a href="#"><i class="sprite sprite-werder"></i></a>
        <a href="#"><i class="sprite sprite-wolsburg"></i></a>
        <a href="#"><i class="sprite sprite-Auzburg"></i></a>
        <a href="#"><i class="sprite sprite-Mainz"></i></a>
        <a href="#"><i class="sprite sprite-Aintraht"></i></a>
    </div>
    <div class="col-md-6 league-col league-col-bundesliga">
        <a href="#"><i class="sprite sprite-hamburg"></i></a>
        <a href="#"><i class="sprite sprite-ingolstad"></i></a>
        <a href="#"><i class="sprite sprite-Keln"></i></a>
        <a href="#"><i class="sprite sprite-darmshtad"></i></a>
        <a href="#"><i class="sprite sprite-Borussia_M"></i></a>
        <a href="#"><i class="sprite sprite-Gerta"></i></a>
        <a href="#"><i class="sprite sprite-Fraiburg"></i></a>
        <a href="#"><i class="sprite sprite-Hoffenhain"></i></a>
        <a href="#"><i class="sprite sprite-Leipzig"></i></a>
    </div>
</div>
<div class="container-fluid leagues-submenu-container">
    <h1 class="league-h1"><span class="hidden-xs">Чемпионат Германии</span></h1>
        <a href="<%= fixtures_league_path('bundesliga') %>" class="league-col">Календарь</a>
        <a href="<%= results_league_path('bundesliga') %>" class="league-col">Результаты</a>
        <a href="<%= table_league_path('bundesliga') %>" class="league-col">Таблица</a>
        <a href="<%= league_path('bundesliga') %>" class="league-col">Основное</a>
</div>