<div class="container-fluid leagues-team-container">
    <div class="col-md-6 league-col league-col-bundesliga">
        <a href="#"><i class="sprite sprite-Bavaria"></i></a>
        <a href="#"><i class="sprite sprite-Borussia_D"></i></a>
        <a href="#"><i class="sprite sprite-shalke_04"></i></a>
        <a href="#"><i class="sprite sprite-Bayer"></i></a>
        <a href="#"><i class="sprite sprite-werder"></i></a>
        <a href="#"><i class="sprite sprite-wolsburg"></i></a>
        <a href="#"><i class="sprite sprite-Auzburg"></i></a>
        <a href="#"><i class="sprite sprite-Mainz"></i></a>
        <a href="#"><i class="sprite sprite-Aintraht"></i></a>
    </div>
    <div class="col-md-6 league-col league-col-bundesliga">
        <a href="#"><i class="sprite sprite-hamburg"></i></a>
        <a href="#"><i class="sprite sprite-ingolstad"></i></a>
        <a href="#"><i class="sprite sprite-Keln"></i></a>
        <a href="#"><i class="sprite sprite-darmshtad"></i></a>
        <a href="#"><i class="sprite sprite-Borussia_M"></i></a>
        <a href="#"><i class="sprite sprite-Gerta"></i></a>
        <a href="#"><i class="sprite sprite-Fraiburg"></i></a>
        <a href="#"><i class="sprite sprite-Hoffenhain"></i></a>
        <a href="#"><i class="sprite sprite-Leipzig"></i></a>
    </div>
</div>
<div class="container-fluid leagues-submenu-container">
    <h1 class="league-h1">Ч<span class="hidden-xs">емпионат</span> Г<span class="hidden-xs">ермании</span></h1>
    <a href="#" class="league-col">Стат<span class="hidden-xs">истика</span></a>
    <a href="<%= table_league_path('bundesliga') %>" class="league-col">Табл<span class="hidden-xs">ица</span></a>
    <a href="<%= fixtures_league_path('bundesliga') %>" class="league-col">Календ<span class="hidden-xs">арь</span></a>
    <a href="#" class="league-col">Основное</a>
</div>