<div class="container-fluid leagues-team-container">
    <div class="col-md-6 league-col league-col-chempions-league">
        <a href="#"><i class="sprite sprite-Bavaria"></i></a>
        <a href="#"><i class="sprite sprite-Borussia_D"></i></a>
        <a href="#"><i class="sprite sprite-barselona"></i></a>
        <a href="#"><i class="sprite sprite-Bayer"></i></a>
        <a href="#"><i class="sprite sprite-arsenal"></i></a>
        <a href="#"><i class="sprite sprite-mc"></i></a>
        <a href="#"><i class="sprite sprite-totenhem"></i></a>
        <a href="#"><i class="sprite sprite-leicester"></i></a>
    </div>
    <div class="col-md-6 league-col league-col-chempions-league">
        <a href="#"><i class="sprite sprite-napoli"></i></a>
        <a href="#"><i class="sprite sprite-Borussia_M"></i></a>
        <a href="#"><i class="sprite sprite-atletico"></i></a>
        <a href="#"><i class="sprite sprite-real_m"></i></a>
        <a href="#"><i class="sprite sprite-sevilla"></i></a>
        <a href="#"><i class="sprite sprite-juventus"></i></a>
        <a href="#"><i class="sprite sprite-basel"></i></a>
        <a href="#"><i class="sprite sprite-rostov"></i></a>
    </div>
    <div class="col-md-6 league-col league-col-chempions-league">
        <a href="#"><i class="sprite sprite-psv"></i></a>
        <a href="#"><i class="sprite sprite-ludogorets"></i></a>
        <a href="#"><i class="sprite sprite-seltic"></i></a>
        <a href="#"><i class="sprite sprite-dynamo_k"></i></a>
        <a href="#"><i class="sprite sprite-benfica"></i></a>
        <a href="#"><i class="sprite sprite-besiktash"></i></a>
        <a href="#"><i class="sprite sprite-psg"></i></a>
        <a href="#"><i class="sprite sprite-legia"></i></a>
    </div>
    <div class="col-md-6 league-col league-col-chempions-league">
        <a href="#"><i class="sprite sprite-lyon"></i></a>
        <a href="#"><i class="sprite sprite-dynamo_z"></i></a>
        <a href="#"><i class="sprite sprite-porto"></i></a>
        <a href="#"><i class="sprite sprite-kopengagen"></i></a>
        <a href="#"><i class="sprite sprite-brugge"></i></a>
        <a href="#"><i class="sprite sprite-sporting_l"></i></a>
        <a href="#"><i class="sprite sprite-cska"></i></a>
        <a href="#"><i class="sprite sprite-monaco"></i></a>
    </div>
</div>
<div class="container-fluid leagues-submenu-container leagues-submenu-container-cl">
    <h1 class="league-h1">Л<span class="hidden-xs">ига</span> Ч<span class="hidden-xs">емпионов</span></h1>
    <a href="#" class="league-col">Стат<span class="hidden-xs">истика</span></a>
    <a href="#" class="league-col">Табл<span class="hidden-xs">ица</span></a>
    <a href="#" class="league-col">Календ<span class="hidden-xs">арь</span></a>
    <a href="#" class="league-col">Основное</a>
</div>