<div class="container-fluid leagues-team-container">
    <div class="col-md-6 league-col">
        <a href="#"><i class="sprite sprite-barselona"></i></a>
        <a href="#"><i class="sprite sprite-real_m"></i></a>
        <a href="#"><i class="sprite sprite-atletico"></i></a>
        <a href="#"><i class="sprite sprite-sevilla"></i></a>
        <a href="#"><i class="sprite sprite-valensia"></i></a>
        <a href="#"><i class="sprite sprite-villareal"></i></a>
        <a href="#"><i class="sprite sprite-deportivo"></i></a>
        <a href="#"><i class="sprite sprite-espaniol"></i></a>
        <a href="#"><i class="sprite sprite-ath_bilbao"></i></a>
        <a href="#"><i class="sprite sprite-real_betis"></i></a>
    </div>
    <div class="col-md-6 league-col">
        <a href="#"><i class="sprite sprite-ossasuna"></i></a>
        <a href="#"><i class="sprite sprite-eibar"></i></a>
        <a href="#"><i class="sprite sprite-granada"></i></a>
        <a href="#"><i class="sprite sprite-sporting"></i></a>
        <a href="#"><i class="sprite sprite-real_sosiedad"></i></a>
        <a href="#"><i class="sprite sprite-alaves"></i></a>
        <a href="#"><i class="sprite sprite-leganes"></i></a>
        <a href="#"><i class="sprite sprite-malaga"></i></a>
        <a href="#"><i class="sprite sprite-las_palmas"></i></a>
        <a href="#"><i class="sprite sprite-selta"></i></a>
    </div>
</div>
<div class="container-fluid leagues-submenu-container">
    <h1 class="league-h1">Ч<span class="hidden-xs">емпионат</span> И<span class="hidden-xs">спании</span></h1>
    <a href="#" class="league-col">Стат<span class="hidden-xs">истика</span></a>
    <a href="#" class="league-col">Табл<span class="hidden-xs">ица</span></a>
    <a href="#" class="league-col">Календ<span class="hidden-xs">арь</span></a>
    <a href="#" class="league-col">Основное</a>
</div>