<div class="container-fluid leagues-team-container">
    <div class="col-md-6 league-col">
        <a href="#"><i class="sprite sprite-juventus"></i></a>
        <a href="#"><i class="sprite sprite-napoli"></i></a>
        <a href="#"><i class="sprite sprite-roma"></i></a>
        <a href="#"><i class="sprite sprite-milan"></i></a>
        <a href="#"><i class="sprite sprite-inter"></i></a>
        <a href="#"><i class="sprite sprite-fiorentina"></i></a>
        <a href="#"><i class="sprite sprite-udineze"></i></a>
        <a href="#"><i class="sprite sprite-lazio"></i></a>
        <a href="#"><i class="sprite sprite-torino"></i></a>
        <a href="#"><i class="sprite sprite-chievo"></i></a>
    </div>
    <div class="col-md-6 league-col">
        <a href="#"><i class="sprite sprite-empoli"></i></a>
        <a href="#"><i class="sprite sprite-sampdoria"></i></a>
        <a href="#"><i class="sprite sprite-genoa"></i></a>
        <a href="#"><i class="sprite sprite-cagliari"></i></a>
        <a href="#"><i class="sprite sprite-bologna"></i></a>
        <a href="#"><i class="sprite sprite-crotone"></i></a>
        <a href="#"><i class="sprite sprite-palermo"></i></a>
        <a href="#"><i class="sprite sprite-sassuolo"></i></a>
        <a href="#"><i class="sprite sprite-pescara"></i></a>
        <a href="#"><i class="sprite sprite-atalanta"></i></a>
    </div>
</div>
<div class="container-fluid leagues-submenu-container">
    <h1 class="league-h1">Ч<span class="hidden-xs">емпионат</span> И<span class="hidden-xs">талии</span></h1>
    <a href="#" class="league-col">Стат<span class="hidden-xs">истика</span></a>
    <a href="<%= table_league_path('seria-a') %>" class="league-col">Табл<span class="hidden-xs">ица</span></a>
    <a href="#" class="league-col">Календ<span class="hidden-xs">арь</span></a>
    <a href="#" class="league-col">Основное</a>
</div>