<div class="container-fluid leagues-team-container">
    <div class="col-md-6 league-col">
        <a href="#"><i class="sprite sprite-juventus"></i></a>
        <a href="#"><i class="sprite sprite-napoli"></i></a>
        <a href="#"><i class="sprite sprite-roma"></i></a>
        <a href="#"><i class="sprite sprite-milan"></i></a>
        <a href="#"><i class="sprite sprite-inter"></i></a>
        <a href="#"><i class="sprite sprite-fiorentina"></i></a>
        <a href="#"><i class="sprite sprite-udineze"></i></a>
        <a href="#"><i class="sprite sprite-lazio"></i></a>
        <a href="#"><i class="sprite sprite-torino"></i></a>
        <a href="#"><i class="sprite sprite-chievo"></i></a>
    </div>
    <div class="col-md-6 league-col">
        <a href="#"><i class="sprite sprite-empoli"></i></a>
        <a href="#"><i class="sprite sprite-sampdoria"></i></a>
        <a href="#"><i class="sprite sprite-genoa"></i></a>
        <a href="#"><i class="sprite sprite-cagliari"></i></a>
        <a href="#"><i class="sprite sprite-bologna"></i></a>
        <a href="#"><i class="sprite sprite-crotone"></i></a>
        <a href="#"><i class="sprite sprite-palermo"></i></a>
        <a href="#"><i class="sprite sprite-sassuolo"></i></a>
        <a href="#"><i class="sprite sprite-pescara"></i></a>
        <a href="#"><i class="sprite sprite-atalanta"></i></a>
    </div>
</div>
<div class="container-fluid leagues-submenu-container">
    <h1 class="league-h1"><span class="hidden-xs">Чемпионат Италии</span></h1>
    <a href="<%= fixtures_league_path('seria-a') %>" class="league-col">Календарь</a>
    <a href="<%= results_league_path('seria-a') %>" class="league-col">Результаты</a>
    <a href="<%= table_league_path('seria-a') %>" class="league-col">Таблица</a>
    <a href="<%= league_path('seria-a') %>" class="league-col">Основное</a>
</div>