<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admins:)</h1>
    <p>
		The message from: <strong><%= @email %></strong>
    </p>
    <p>
      <%= @body %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>