@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-select";

@font-face {
    font-family: 'PT Sans Regular';
    font-weight: normal;
    font-style: normal;
    src: font-url('/assets/PT_Sans-Web-Regular.ttf') format('truetype');
}


body {
    // background: url("/images/bg/bg.jpg") no-repeat;
    font-family: 'PT Sans Regular';
    -webkit-background-size: 100%;
    background-size: 100%;
    background: #E9EBEE;
}

h3 {
    font-size: 20px;
}
i {
    font-size: 12px;
    color: #9e9e9e;
    font-style: normal;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 14px;
}
hr {
    border-top: 1px solid #9e9e9e;
    margin-top: 0;
}


// LOGO
@media only screen and (max-width: 767px) {
    .header-link {
        color: #FFF;
    }
    .navbar-brand {
        padding: 0;
        img {
            width: 80%;
        }
    }
}

// header 

// header end

// left and right blocks start
.left-block {
    padding-left: 0px;
    padding-right: 0px;
}
.right-block {
    padding-left: 15px;
    padding-right: 0px;
}
// end

// match onlain start
.container-onlain {
    padding: 15px;
}

.row-onlain {
    text-align: center;
    .match-toggle {
        padding: 8px 0;
        &:nth-child(2) {
            span {
                background: #33383c;
                color: #FFF;    
            }
        }
        span {
            padding: 4px 15px;
            &:hover {
                cursor: pointer;
                background: #33383c;
                color: #FFF;
            }
        }
    }
    .a-onlain {
        cursor: pointer;
        &:hover {
            background: #e90052;
            color: #FFF;
           .time {
                background: #e90052;
            }
        }
    }
    .table {
        margin-bottom: 0;
        i {
            text-align: left;
            display: block;
            padding: 0;
            text-align: center;
        }
        tr {
            border-bottom: 1px solid #e8e8e8;
            .time {
                color: #FFF;
                padding: 0 0;
                text-align: center;
                .score_or_time {
                    margin: 0 auto;
                    width: 50px;
                    background: #6a6a6a;
                    line-height: 23px;
                }
            }
            td {
                padding: 6px 0;
                vertical-align: middle;
                border-top: none;
                &:first-child {
                    width: 100px;    
                }
                &:last-child {
                    width: 100px;    
                }
            }
        }
    }
}

// match onlain end

// article items start
.row-line-one {
    background-color: #33383c;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    img {
        height: 100%;
        width: 100%;
    }
    .col-line-one-first {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        .article-four-image {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
    .col-line-one-second {
        padding-left: 0;
        padding-right: 0;
        color: #FFF;
        a {
            position: relative;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #4d4d4d;
            height: 83px;
            color: #FFF;
            background: transparent;
            &:last-child {
                border-bottom: none;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:first-child {
                background: #2a4951;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
            .glyphicon-triangle-right {
                position: absolute;
                top: 32px;
                left: -4px;
                color: #FFF;
                font-size: 18px;
                display: none;
            }
            .list-group-item-heading {
                color: #FFF;
                font-size: 17px;
            }
        }
    }
}

.row-line-two {
    margin-left: 0;
    margin-right: 0;
    
    .three-article {
        padding-left: 5px;
        padding-right: 5px;
        &:first-child {
        padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        .a-article {
            color: inherit;
            &:hover {
                text-decoration: none;
                color: #38003D;
            }
            .thumbnail {
                padding: 0;
                border-radius: 0;
                border: none;
                margin-bottom: 15px;
                img {
                    width: 100%;
                }
                .caption {
                    &:hover {
                        background: #f5f5f5;
                        color: rgba(51, 51, 51, 0.92);
                    }
                }
                .custom-caption {
                    height: 200px;
                    position: relative;
                    
                }
            }
        }
    }
}

.article-time {
    position: absolute;
    bottom: 5px;
    left: 15px;
    .glyphicon-time {
        margin-right: 2px;
        top: 2px;
    }
}
// article items end

// article 2 item start
.article-title {
    margin-bottom: 3px;
    span {
        padding: 5px 20px;
        background: #243843;
        color: #FFF;
    }
}
.row-article {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    .col-article {
        padding-left: 5px;
        padding-right: 5px;
        &:first-child, &:nth-child(3n) {
        padding-left: 0;
        }
        &:last-child, &:nth-child(2) {
            padding-right: 0;
        }
        .a-article {
            .thumbnail {
                position: relative;
                padding: 0;
                margin-bottom: 10px;
                border: none;
                img {
                    width: 100%;
                }
                .caption {
                    position: absolute;
                    bottom: 0;
                    color: #FFF;
                    background: linear-gradient(to top,rgba(26,26,26,.7)0%,rgba(26,26,26,.5)70%,transparent);
                    width: 100%;
                    &:hover {
                        color: #e7e7e7;
                    }
                }
            }
        }
    }
}
// article item 2 end

.image-wrapper {
    background: #000;
    img {
        opacity: 0.9;
    }
}

// video start
.video {
    margin-bottom: 15px;
    .video-col {
        padding-left: 0;
        padding-right: 0;
        .a-video {
                &:hover {
                text-decoration: none;
                color: #e7e7e7;
            }
            .image-wrapper {
                img {
                    width: 100%;
                }
            }
        }
    }
    .video-one {
        padding-left: 0;
        padding-right: 0;
        .thumbnail {
            margin-bottom: 0;
            border: none;
            padding: 0;
            border-radius: 0px;
            .caption {
                height: 200px;
                &:hover {
                    background: #f5f5f5;
                }
                .video-title-one {
                font-size: 18px;
                }
            }
        }
    }
    .video-four {
        padding-left: 0;
        padding-right: 0;
        .thumbnail {
            margin-bottom: 0;
            border: none;
            padding: 0;
            border-radius: 0px;
            .video-caption {
                &:hover {
                    background: #f5f5f5;
                }
                height: 96px;
                .video-title-four {
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.video-icon-one {
    position: absolute;
    left: 10px;
    bottom: 210px;
    padding: 2px 5px;
    background: #a6004c;
    .glyphicon {
        color: #FFF;
    }
}
.video-icon-four {
    position: absolute;
    left: 10px;
    bottom: 105px;
    padding: 2px 5px;
    background: #a6004c;
    .glyphicon {
        color: #FFF;
    }
}
.video-icon-four-time {
    left: 32px;
    color: #FFF;
    background: #e90052;
    font-size: 13px;
    padding: 3px;
}

// video end

// label fot article start
.create-time {
    font-size: 13px;
    padding: 2px;
    background: #ff5b5a;
    color: #000;
    border-radius: 2px;
    margin-right: 5px;
}
.time-pos {
    position: relative;
    bottom: -12px;
}
// end

// lenta novostey start
.list-group {margin-bottom: 0;}
.list-group-item-heading {
    font-size: 15px;
}

.panel-default {
    border: none;
    border-radius: 0;
    border-color: #33383c;
    .btn-info {
        border-radius: 0px;  
    }
    .panel-heading {
        position: relative;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background-color: #33383c;
        border-color: #33383c;
        color: #FFF;
        padding: 5px 15px;
        .hide-show {
            position: absolute;
            right: 10px;
            text-decoration: underline;
            cursor: pointer;
            top: 6px;
            color: #FFF;
            &:hover {
                color: #9e9e9e;
            }
        }
    }
    .panel-body {
        padding: 0;
        .tab-pane{
            height: 800px;
            overflow-y: scroll;
            width: 100%;
        }
    }
}
///////////////////////
@media only screen and (max-width: 1200px) {
    .panel-default {
        .panel-heading {
        }
        .panel-body {
            .tab-pane{
                height: 500px;
            }
        }
    }
    .row-line-one {
        .col-line-one-second {
            a {
                height: 69px;
                &:last-child {
                    height: 68px;
                }
                .glyphicon-triangle-right {
                    top: 27px;
                    left: -4px;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .row-line-one .col-line-one-second a {
        height: 72px;
    }
}

// lenta novostey end

// table start
.row-table {
    .panel-body {
        margin-right: -1px;
    }
    .table {
        margin-bottom: 0;
    }
    margin-left: 0;
    margin-right: 0;
    thead {
        tr {
            th {
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: none;
                color: #939393;
                font-size: 12px;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-top: 2px;
                padding-bottom: 2px;
                vertical-align: middle;
                border-top: none;
            }
        }
    }
    .team-name {
        text-align: left;
    }
    .team-score {
        color: #ff5b5a;
        width: 80px;
    }
    .team-icon {
        padding-left: 0;
        padding-right: 0;
        width: 20px;
        i {
            margin-right: 0;
        } 
    }
    .team-td {
        padding-left: 0;
        padding-right: 0;
        width: 35px;
    }
    .team-number {
        padding-left: 0;
        padding-right: 0;
        width: 55px;
    }
}

.tr_first {
    background: #f2f2f4;
}
.tr_second {
    background: #e6e7e9;
}
// table end

// top players start
.panel-body-custom {
    position: relative;
    color: #FFF;
    .number-one {
        position: absolute;
        top: 20px;
        left: 10px;
        .footballer-name {
            font-size: 1.2em;
        }
        .first {
            color: #ff5b5a;
            font-size: 1.3em;
        }
        .boals {
            color: #ff5b5a;
            font-size: 1.7em;
        }
    }
}
.team-score {
    color: #ff5b5a;
}
// end

// footer
.footer {
    width: 100%;
    background-color: #2f343a;
    margin-top: 80px;
    color: #FFF;
    .container {
        i {
            color: #FFF;
            font-size: 1.2em;
        }
        .custom-footer-col {
            padding: 20px 0;
            a {
                color: #FFF;
            }   
        }
    }
}
// end

// auth modal
.btn-group {
    .fa {
        font-size: 1.4em;
        position: absolute;
        left: 10px;
        top: 10px;
        color: #FFF;
    }
}
// end

// books start
.row-books {
    padding: 15px;
    margin-top: 40px;
    .books {
        margin-bottom: 25px;
        padding: 0;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        img {
            width: 100%;
        }
        &:hover {
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.35);
        }
    }
}

// end

// authorization views start
.custom-form {
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
}

.registration {
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 0;
}

.upload_file_container {
   label {
   pointer: cursor;
   /* Style as you please, it will become the visible UI component. */
}

   input {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
}
// end

// my team start
.my-team {
    select {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        width: 80%;
        height: 30px;
        margin: 0 auto;
    }
    label {
        margin-top: 10px;
    }
    .btn-group {
        .btn-reg {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            .fa {
                top: 7px;
            }
        }
    }
}

// end

