@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: "Kaushan Script Regular";
  src: url(/assets/Proxima_Nova_Alt_Regular.otf) format("truetype");
}

body {
    // background: url("/images/bg/bg.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background: #F5F5F1;
    font-family: 'ProximaNova-Regular';
}

h3 {
    font-size: 21px;
}
i {
    font-size: 13px;
    color: #9e9e9e;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 18px;
}
hr {
    border-top: 1px solid #333;
    margin-top: 0;
}

// LOGO
@media only screen and (max-width: 767px) {
    .header-link {
        color: #FFF;
    }
    .navbar-brand {
        padding: 0;
        img {
            width: 80%;
        }
    }
}


// navbar start

.navbar {
    background-color: rgba(0,0,0,0.27);
    border-color: transparent;
    margin-bottom: 200px;
    .navbar-toggle {
        .icon-bar {
            background-color: #fff;
        }
    }
    .container-fluid {
        padding: 0;
        .navbar-collapse {
            margin-right: 0;
            margin-left: 0;
        }
        .navbar-header {
        margin-right: 0;
        margin-left: 0;
            a {
                position: relative;
                top: 52px;
                left: 20px;
            }
        }
        .glyphicon {
            padding-right: 5px;
            color: #FFF;
        }
        ul {
            li {
                a {
                    color: #FFF;
                    text-transform: uppercase;
                    &:hover {
                        color: #e7e7e7;
                        .glyphicon {
                            color: #e7e7e7;
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    .container-fluid {
        .navbar-right {
            ul {
                li {
                    a {
                        color: #2f343a;
                    }
                }
            }
        }
    }
}
// navbar-end

// match onlain start
.container-onlain {
    padding: 15px;
}

.row-onlain {
    text-align: center;
    .a-onlain {
        color: inherit;
        &:hover {
            text-decoration: none;
            .col-onlain {
                background: #e90052;
            }
            .table {
                background: #e90052;
                color: #FFF;
               .time {
                    color: #e90052;
                    background: #FFF;
                } 
            }
        }
    }
    .table {
        margin-bottom: 0;
        tr {
            .time {
                background: #76766f;
                color: #FFF;
                padding: 0 5px;
                text-align: center;
            }
            td {
                padding: 0;
                vertical-align: middle;
                border-top: none;
            }
        }
    }
}

// match onlain end

// article items start
.row-article {
    .col-article {
        padding-left: 5px;
        padding-right: 5px;
        .a-article {
            color: inherit;
            &:hover {
                text-decoration: none;
                color: #38003D;
            }
            .thumbnail {
                padding: 0;
                border-radius: 0;
                border: none;
                img {
                    width: 100%;
                }
                .caption {
                    &:hover {
                        color: #777777;
                    }
                }
                .custom-caption {
                    height: 200px;
                    position: relative;
                    .article-time {
                        position: absolute;
                        bottom: 5px;
                        left: 10px;
                    }
                }
            }
            .custom-thumbnail {
                max-height: 300px;
                overflow: hidden;
            }
        }
    }
}

.col-article {
    padding-left: 5px;
    padding-right: 5px;
}
// article items end

// article 2 item start
.row-article2 {
    .col-article {
        .a-article {
            .thumbnail {
                position: relative;
                .caption {
                    position: absolute;
                    bottom: 0;
                    color: #FFF;
                    background: linear-gradient(to top,rgba(26,26,26,.7)0%,rgba(26,26,26,.5)70%,transparent);
                    width: 100%;
                    &:hover {
                        color: #777777;
                    }
                }
            }
        }
    }
}
// article item 2 end

// label fot article start
.create-time {
    font-size: 13px;
    padding: 2px;
    background: #ff5b5a;
    color: #000;
    border-radius: 2px;
    margin-right: 5px;
}
.time-pos {
    position: relative;
    bottom: -12px;
}
// end

// lenta novostey start
.panel-default {
    border-radius: 0;
    border-color: #2f343a;
    .panel-heading {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background-color: #2f343a;
        border-color: #2f343a;
        color: #FFF;
    }
    .panel-body {
        padding: 0;
        .tab-pane{
            height: 800px;
            overflow-y: scroll;
            width: 100%;
        }
    }
}
///////////////////////
@media only screen and (max-width: 1200px) {
    .panel-default {
        border-bottom: 2px solid;
        .panel-heading {
        }
        .panel-body {
            .tab-pane{
                height: 500px;
            }
        }
    }
}

// lenta novostey end

// table start
.row-table {
    padding: 5px;
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-top: 1px;
                padding-bottom: 1px;
                vertical-align: middle;
            }
        }
    }
    .team-name {
        text-align: left;
    }
    .team-score {
        color: #ff5b5a;
    }
    .team-icon {
        
    }
}
// table end

// top players start
.panel-body-custom {
    position: relative;
    color: #FFF;
    .number-one {
        position: absolute;
        top: 20px;
        left: 10px;
        .footballer-name {
            font-size: 1.2em;
        }
        .first {
            color: #ff5b5a;
            font-size: 1.3em;
        }
        .boals {
            color: #ff5b5a;
            font-size: 1.7em;
        }
    }
}
.team-score {
    color: #ff5b5a;
}
// end

// footer
.footer {
    width: 100%;
    background-color: #2f343a;
    margin-top: 80px;
    color: #FFF;
    .container {
        i {
            color: #FFF;
            font-size: 1.2em;
        }
        .custom-footer-col {
            padding: 20px 0;
            a {
                color: #FFF;
            }   
        }
    }
}
// end

// auth modal
.btn-group {
    .fa {
        font-size: 1.4em;
        position: absolute;
        left: 10px;
        top: 10px;
        color: #FFF;
    }
}
// end

// books start
.row-books {
    padding: 15px;
    margin-top: 40px;
    .books {
        margin-bottom: 25px;
        padding: 0;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        img {
            width: 100%;
        }
        &:hover {
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.35);
        }
    }
}

// end

// authorization views start
.custom-form {
    padding: 20px;
    border-radius: 5px;
}

.registration {
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 0;
}

.upload_file_container {
   label {
   pointer: cursor;
   /* Style as you please, it will become the visible UI component. */
}

   input {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
}
// end

