@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background: url("/images/bg/bg.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    // background: #e7e7e7;
}

// LOGO
@media only screen and (max-width: 768px) {
    .navbar-brand {
        padding: 0;
        img {
            width: 80%;
        }
    }
}

// navbar start

.navbar {
    background-color: rgba(0,0,0,0.27);
    border-color: transparent;
    margin-bottom: 280px;
    .navbar-toggle {
        .icon-bar {
            background-color: #fff;
        }
    }
    .container-fluid {
        padding: 0;
        .navbar-collapse {
            margin-right: 0;
            margin-left: 0;
        }
        .navbar-header {
        margin-right: 0;
        margin-left: 0;
            a {
                position: relative;
                top: 52px;
                left: 20px;
            }
        }
        .glyphicon {
            padding-right: 5px;
        }
        ul {
            li {
                a {
                    color: #FFF;
                    text-transform: uppercase;
                }
            }
        }
    }
}
// navbar-end

// match onlain start

.row-onlain {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    .a-onlain {
        display: block;
        color: inherit;
        &:hover {
            text-decoration: none;
            color: #38003D;
        }
    }
    .col-md-4 {
        padding-left: 50px;
        padding-right: 50px;
        btborder-top: 1px solid #e7e7e7;
    }
    .col-sm-6 {
        padding-left: 50px;
        padding-right: 50px;
        border-top: 1px solid #e7e7e7;
    }
    background: #FFF;
    .table {
        margin-bottom: 0;
        tr {
            td {
                padding: 10px 0;
                vertical-align: middle;
                border-top: none;
            }
        }
    }
}

// match onlain end