.header {
    margin-bottom: 30px;
    .container-fluid-custom-first {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
        .search {
            padding: 20px 5px;
            background-color: #69a6a6;
            &:hover {
                cursor: pointer;
                .glyphicon-search {
                    color: #2a4951;       
                }
            }
            .glyphicon-search {
                color: #FFF;
                font-size: 22px;
            }
        }
        .logo-area {
            padding: 14px 0;
            text-transform: uppercase;
            .main-logo {
                margin: 0;
                z-index: 2;
                position: absolute;
                right: -15%;
                a {
                    text-decoration: none;
                }
            }
        }
        .header-profile {
            background-color: #fff;
            padding: 8px 0;
            padding-right: 15px;
            .nav {
                float: right;
                .custom-dropdown-menu {
                    top: 110%;
                    left: -64px;
                }
            }
        }
    }
    .container-fluid-custom-second {
        padding-left: 0;
        padding-right: 0;
        background: #33383c;
        .main-link {
            background: #292f32;
            padding: 20px 5px;
            color: #FFF;
            &:hover {
                color: #4d4d4d;
            }
            .main-el {
                font-size: 22px;
            }
        }
        .menu-item {
            padding-left: 0;
            padding-right: 0;
            .league {
                float: left;
                position: relative;
                color: #FFF;
                text-align: center;
                padding:23px 0 20px;
                &:hover {
                    background: #292f32;
                }
                i {
                    margin: 0 auto;
                }
            }
            .league-col {
                width: 14%;
            }
            .league-col-big {
                width: 16%;
            }
        }
    }
}

@media only screen and (max-width: 399px) {
    .main-logo {
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    .header {
        .container-fluid-custom-first {
            .logo-area {
                .main-logo {
                    right: -25%;
                }
            }
        }
    }
}