.sprite {
    background-image: asset-data-url("spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.icon-small {
    zoom:0.50;
    -moz-transform:scale(0.50);
    -moz-transform-origin: 0 0;
    margin: 0 auto;
}

.icon-big {
    zoom:1.5;
    -moz-transform:scale(1.5);
    -moz-transform-origin: 0 0;
    margin: 0 auto;
}

.sprite-arsenal {
    width: 56px;
    height: 42px;
    background-position: 0 0;
}

.sprite-bournem {
    width: 56px;
    height: 42px;
    background-position: -56px 0;
}

.sprite-burnley {
    width: 56px;
    height: 42px;
    background-position: -112px 0;
}

.sprite-chelsea {
    width: 56px;
    height: 42px;
    background-position: 0 -42px;
}

.sprite-crystal {
    width: 56px;
    height: 42px;
    background-position: -56px -42px;
}

.sprite-everton {
    width: 56px;
    height: 42px;
    background-position: -112px -42px;
}

.sprite-hull_city {
    width: 56px;
    height: 42px;
    background-position: 0 -84px;
}

.sprite-leicester {
    width: 56px;
    height: 42px;
    background-position: -56px -84px;
}

.sprite-liver {
    width: 56px;
    height: 42px;
    background-position: -112px -84px;
}

.sprite-mc {
    width: 56px;
    height: 42px;
    background-position: 0 -126px;
}

.sprite-midl {
    width: 56px;
    height: 42px;
    background-position: -56px -126px;
}

.sprite-mu {
    width: 56px;
    height: 42px;
    background-position: -112px -126px;
}

.sprite-southampton {
    width: 56px;
    height: 42px;
    background-position: 0 -168px;
}

.sprite-stoke_city {
    width: 56px;
    height: 42px;
    background-position: -56px -168px;
}

.sprite-sunderland {
    width: 56px;
    height: 42px;
    background-position: -112px -168px;
}

.sprite-swansea {
    width: 56px;
    height: 42px;
    background-position: -168px 0;
}

.sprite-totenhem {
    width: 56px;
    height: 42px;
    background-position: -168px -42px;
}

.sprite-watford {
    width: 56px;
    height: 42px;
    background-position: -168px -84px;
}

.sprite-west_brom {
    width: 56px;
    height: 42px;
    background-position: -168px -126px;
}

.sprite-west_ham {
    width: 56px;
    height: 42px;
    background-position: -168px -168px;
}