.teams {
    .team-row {
        background-color: #FFF;
        .team-col {

        }
        .team-col-first {
            background-color: #33383c;
            border: 1px solid #33383c;
            .team-image {
                margin: 50px 0 25px;
                img {
                    width: 50%;
                    max-width: 130px;
                    margin: 0 auto;
                }
            }
            .team-name {
                font-size: 22px;
                color: #FFF;
                margin-bottom: 40px;
            }
            .team-deliver {
                border-top: 1px solid #9c9c9c;
                margin: 0 auto;
                margin-bottom: 45px;
            }
            .team-general-info-title {
                font-size: 18px;
                color: #6aa6a6;
                margin-bottom: 5px;
            }
            .team-general-info-description {
                font-size: 14px;
                color: #FFF;
                margin-bottom: 25px;
            }
        }
        .team-col-second {
            .team-fixture {
                padding: 15px 0 2px;
                display: inline-block;
                color: #9d9d9f;
                cursor: pointer;
                &:hover {
                    color: #000;
                }
            }
            .team-fixture-active {
                color: #000;
                border-bottom: 2px solid #000;
            }
            .team-fixtures {
                font-size: 18px;
                text-transform: uppercase;
                
            }
            .fixtures-deliver {
                border-top: 1px solid #d1d1d1;
                margin-top: -1px;
                margin-bottom: 10px;
            }
            .team-table-wrapper {
                background-color: #f5f5f5;
                padding: 5px 15px;
                &:last-child {display: none;}
                .table {
                    thead {
                        tr {
                            th {
                                text-align: center;
                                padding: 10px 0;
                                color: #6aa6a6;
                                border-bottom: none;
                                background-color: #eee;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                padding: 15px 0;
                                text-align: center;
                                vertical-align: middle;
                                border-top: none;
                                border-bottom: 2px solid #e9e9e9;
                            }
                            .team-date {
                                color: #9d9d9f;
                            }
                            .team-icon {
                                width: 25px;
                                i {
                                    position: relative;
                                }
                            }
                            .team-icon-first {
                                i {
                                right: -7px;
                                }
                            }
                            .team-icon-second {
                                i {
                                left: -7px;
                                }
                            }
                            .team-result {
                                width: 25px;
                            }
                            .team-name-first {
                                text-align: right;
                            }
                            .team-name-second {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .team-col-third {
            .team-line-up {
                .team-line-up-h2 {
                    margin: 0;
                    padding: 18px 0 2px;
                    font-size: 18px;
                    color: #000;
                    text-transform: uppercase;
                }
                .team-line-up-break {
                    border-top: 1px solid #d1d1d1;
                    margin-top: 4px;
                    margin-bottom: 10px;
                }
            }
            .footballer-wrapper {
                background-color: #f5f5f5;
                padding: 5px 15px;
                .footballer-position {
                    color: #6aa6a6;
                    padding: 10px 10px;
                    background-color: #eee;
                    margin-top: 25px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .player-info {
                    padding: 5px 0;
                    .player-name {
                        white-space: nowrap;
                    }
                    .player-age {

                    }
                }
                .footballer-deliver {
                    border-bottom: 1px solid #d1d1d1;
                    display: block;
                }
            }
        }
    }
}