.videos {
	iframe {
		width: 100%;
	}
	.three-article {
		.thumbnail {
			.caption {
				height: 120px !important;
				.video-three-article-title {
					font-size: 17px;
					margin-top: 2px;
				}
			}
		}
		.video-icon-four {
			bottom: 125px;
		}
	}
}