<!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-xs-2 custom-footer-col">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-8 text-center hidden-xs">
                <div class="col-sm-4 custom-footer-col"><a href="<%= root_path %>">PremierLeague</a></div>
                <div class="col-sm-4 custom-footer-col"><a href="#" data-toggle="modal" data-target="#privacyModal">Правила</a></div>
                <div class="col-sm-4 custom-footer-col"><a href="#" data-toggle="modal" data-target="#contactModal">Контакты</a></div>
            </div>
            <div class="col-xs-2 custom-footer-col hidden-xs text-right">&copy; <%= Time.now.year %></div>
        </div>
    </div>