<!--footer-->
    
    <div class="footer">
        <div class="container">
            <div class="col-sm-4 footer-col"><div class="devider-line"></div>
                <span class="footer-header">EUROLIGA</span>
                <a href="#" class="footer-link">Лига Чемпионов</a>
                <a href="#" class="footer-link">АПЛ</a>
                <a href="#" class="footer-link">Ла Лига</a>
                <a href="#" class="footer-link">Бундеслига</a>
                <a href="#" class="footer-link">Серия А</a>
            </div>
            <div class="col-sm-4 footer-col"><div class="devider-line"></div>
                <span class="footer-header">ИНФОРМАЦИЯ</span>
                <a href="#" class="footer-link" data-toggle="modal" data-target="#privacyModal">Правила</a>
                <a href="#" class="footer-link" data-toggle="modal" data-target="#contactModal">Обратная связь</a>
                <a href="#" class="footer-link" data-toggle="modal" data-target="#contactModal">Рекламодателям</a>
            </div>
            <div class="col-sm-4 footer-col"><div class="devider-line"></div>
                <span class="footer-header">СОЦСЕТИ</span>
                <a href="#" class="social-media"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="social-media"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="#" class="social-media"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="social-media"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>