<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title" id="myModalLabel" style="font-size: 1.4em"><b>Правила сайта</b></div>
      </div>
      <div class="modal-body">
          
          <div style="font-size: 1.2em" class="text-center"><b>ОБЩАЯ ИНФОРМАЦИЯ</b></div>
          <p>1.1. Начнем с того, что наш проект является площадкой для общения болельщиков «Премьер Лиги» вне зависимости от их пола, возраста и вероисповедания. Наш сайт – место для аргументированных дискуссий среди абсолютно разных людей с разными взглядами, которых объединяет любовь к клубу. Регистрируясь на сайте, вы автоматически соглашаетесь с данными Правилами, даже если их не читали. 
            <br/>1.2. Обращение на «ты» считается нормальным и не является неуважением к собеседнику. Сайт ориентирован на общение дружелюбно настроенных друг к другу людей. 
            <br/>1.3.	Язык сайта – русский. Нет, вы, конечно, можете писать на любых языках мира и приводить какие угодно цитаты. Но, при этом, не забывайте о необходимости передать общий смысл написанного на русском языке, чтобы подавляющему большинству пользователей сайта было понятно, какую мысль вы хотели до них донести. 
            <br/>1.4.	Сайт функционирует в соответствии с Законодательством Российской Федерации. В этой связи, все ваши действия, прежде всего, не должны противоречить российским законам, которым мы неукоснительно следуем. </p>
          <div style="font-size: 1.2em" class="text-center"><b>ПРАВА И СВОБОДЫ</b></div>
          <p>
                          2.1. Вы становитесь полноправным участником сайта только после прохождения процедуры регистрации (вы же для этого здесь, не так ли?). Без регистрации вы можете к нам заходить, читать нас, а ещё думать о нас. На этом ваше влияние на ресурс заканчивается, что, конечно, большая печаль. 
            <br/>2.2.	Благополучно зарегистрировавшись, вы получаете всяческие права и свободы, среди которых: общение, создание тем на форуме, использование всего функционала, доступного на сайте. 
            <br/>2.3. Не увлекайтесь пунктом 2.2. Модераторы сайта всегда на страже местного правопорядка. Оффтопить, флудить, плодить бессмысленные похожие темы на форуме, заниматься бессовестным троллингом и флеймом здесь не принято. За подобную самодеятельность по голове никто не погладит. Вас, как минимум, ждет замечание со стороны команды сайта. 
            <br/>2.4.	Команда сайта и, в частности, отдел модерации следит за исполнением указанных Правил. Все ваши комментарии, замечания и предложения направляйте в соответствующую тему на форуме, либо адрес электронной почты. 
          </p>
          <div style="font-size: 1.2em" class="text-center"><b>ЗАПРЕТЫ ДЛЯ ВСЕХ И ВСЯ</b></div>
          <p>
              3.1. Не надо нецензурно выражаться и использовать матерные слова в любых формах, а так же хамить. Команда сайта оставляет за собой право на редактирование или удаление подобного рода информации. 
            Мера наказания: бан аккаунта на 1-3 суток.
            При рецидиве: бан аккаунта на 3-5 суток.
            При неоднократных рецидивах: на усмотрение команды сайта, вплоть до перманентного бана. 
            <br/>3.2. Не переходите на личности. Можно в сколь угодно жестких, но цензурных формах и выражениях критиковать конкретное мнение или конкретное высказывание оппонента. Обсуждать же личностные качества оппонента или любого другого человека публично не самое достойное занятие. 
            Мера наказания: бан аккаунта на 3-5 суток.
            При рецидиве: бан аккаунта на 5-7 суток.
            При неоднократных рецидивах: на усмотрение команды сайта, вплоть до перманентного бана.
            <br/>3.3. Дискриминация участников по любому признаку (национальному, половому, религиозному, возрастному, профессиональному и т.д.) запрещена. 
            Мера наказания: бан аккаунта на 3-5 суток.
            При рецидиве: бан аккаунта на 5-7 суток.
            При неоднократных рецидивах: на усмотрение команды сайта, вплоть до перманентного бана.
            <br/>3.4. Публикование и распространение на сайте персональной информации о его участниках запрещено. Для любой передачи данных об участниках сайта существуют личные сообщения. 
            Мера наказания: бан аккаунта на 1-3 суток.
            При рецидиве: бан аккаунта на 3-5 суток.
            При неоднократных рецидивах: на усмотрение команды сайта, вплоть до перманентного бана.
            <br/>3.5. Бранные слова, переходящие в оскорбления, по отношению ко всем игрокам, тренерам, руководству и работникам клуба «Манчестер Юнайтед» – это плохо и также карается баном. 
            Мера наказания: бан аккаунта на 2-4 суток.
            При рецидивах: бан аккаунта на 4-6 суток.
            <br/>3.6. Обсуждать действия представителей команды сайта в месте, где вам сделали замечание, не следует. Для этого есть соответствующие инструментарии на сайте. 
            Мера наказания: устное предупреждение.
            При рецидивах: бан аккаунта до 7 суток.
            <br/>3.7. Нельзя регистрировать много аккаунтов. Хотя, разумеется, забаненные будут так делать. Но мы вас всё равно найдем. Помните об этом. 
            Мера наказания: бан всех аккаунтов.
            При рецидивах: бан по IP.
            <br/>3.8. К команде сайта все вышеуказанные пункты относятся в первую очередь. При нарушениях отдельных представителей команды сайта рекомендуем вам писать по данному вопросу руководителям отделов для дальнейшего разбирательства. 
          </p>
          <div style="font-size: 1.2em" class="text-center"><b>ОБЩИЕ РЕКОМЕНДАЦИИ</b></div>
          <p>
Старайтесь уважительно относиться к собеседникам: не хамить на пустом месте, а также увлекаться чрезмерным цитированием и бессмысленными прогнозами на матч. <br/>
За этим необязательно последует наказание, но отношение команды сайта к вам будет зависеть от вашей репутации. <br/>
Также следует отметить, что, несмотря на все старания, команда сайта не может учесть все нюансы общения на ресурсе. Иногда решения выносятся по личному усмотрению модераторов. Давайте будем уважать друг друга и сайт, на который вы и другие читатели приходят пообщаться и приятно провести время.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>